<div class="chatroom" data-channel-subscribe="chatroom">
  <h1>Messages</h1>
  <div id="message-div">
    <% @messages.each do |message| %>
      <div class="message <%= message.user.id == current_user.id ? 'my-message ml-auto' : 'other-user-message mr-auto' %>">
        <big><%= message.user.email %></big>
        <br>
        <small><%= message.content %></small>
      </div>
    <% end %>
  </div>

  <div>
    <%= form_tag("/messages", method: :post) do %>
      <div class="form-group">
        <%= label_tag(:content, "Write a message:") %>
        <%= text_area_tag(:content, nil, class: "form-control") %>
      </div>
      <%= submit_tag("Send", class: "btn btn-primary", id: "message-send-btn") %>
    <% end %>
  </div>
</div>
